<div class="sharedmargin">
  <div class="container-md">
    <%= render "shared/flash_message" %>
    <h3 class="text-white font-italic">検索結果</h3>

  <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>
      <%= render "shared/user_index_form", users: @users %>
    <% else %>
  <!--検索対象モデルがuse以外の時 -->
      <%= render "shared/group_index_form", groups: @groups %>
    <% end %> 

  </div>
</div>