<div class="bg-transparent py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <span class="text-muted">
          <%= link_to "",'https://twitter.com/',class: "btn btn-light fab fa-twitter-square m-2 fa-2x hover-img" %>
          <%= link_to "",'https://www.instagram.com/',class: "btn btn-light fab fa-instagram-square m-2 fa-2x hover-img" %>
          <%= link_to "",'https://ja-jp.facebook.com/',class: "btn btn-light fab fa-facebook-square m-2 fa-2x hover-img" %>
        </span>
      </div>
    </div>
  </div>
</div>