<div class="bg-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 mb-2">
        <h4 class="text-white topfont">Copyright © Shuffle All Rights Reserved.</h4>
      </div>
      <div class="col-sm-3 mb-2 text-right">
        <span class="text-muted">
          <%= link_to "",'https://twitter.com/',class: "btn btn-light fab fa-twitter-square mr-1 fa-2x " %>
          <%= link_to "",'https://www.instagram.com/',class: "btn btn-light fab fa-instagram-square mr-1 fa-2x" %>
          <%= link_to "",'https://ja-jp.facebook.com/',class: "btn btn-light fab fa-facebook-square fa-2x" %>
        </span>
      </div>
    </div>
  </div>
</div>