<!--部分テンプレートにより@users➩users,@groups➩groupsに変更-->
<!--管理側とユーザー側での検索結果フォームにして使用-->
  <% if controller.class.parent.name == "Admin" %>
    <%= render "shared/user_index_form", users: users %>
  <% end %>
  
  <% if controller.class.parent.name == "User" %>
    <% if @range == "User" %>
      <%= render "shared/user_index_form", users: users %>
    <% elsif @range == "Group" %>
      <div class="sharedmargin">
        <div class="container-fluid shadow-lg p-3">
          <h3 class="text-white font-italic text-center m-4">Group List</h3>
          <%= render "shared/group_index_form", groups: groups %>
        </div>
      </div>
    <% elsif @range == "Post" %>
      <div class="sharedmargin">
        <div class="container-fluid p-3">
          <h3 class="text-white font-italic text-center m-4">Post List</h3>
          <%= render "shared/post_index_form", posts: posts, group: groups %>
        </div>
      </div>
    <% else %>
        <div class="sharedmargin">
          <div class="container-fluid p-3 text-white text-center">
            <h2>該当するキーワードがありません</h2>
          </div>
        </div>
    <% end %>
  <% end %>
  
  
  
  
  
  
  
