<div class="sharedmargin">
  <div class="container-md">
    <%= render "shared/flash_message" %>
  
    <div class='row mt-2'>
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto text-white topfont">
        <h2 class="mb-3 ml-sm-n2 text-center font-italic"><%= @user.name%>さんの会員情報編集</h2>
        <!--ユーザー編集画面を管理側とユーザー側でパーシャル化-->
        <%= render "shared/user_edit_form", user: @user %>
      </div>
    </div>
  </div>
</div>