<div class="sharedmargin">
  <div class="container-md shadow-lg p-3">
    <%= render "shared/flash_message" %>
    <!--管理側とユーザー側のユーザー詳細ページをパーシャル化-->
    <%= render "shared/user_show_form", user: @user %>

    <h3 class="text-white font-italic text-center mb-4">加入グループ一覧</h3>
    <!--ユーザー側のグループ一覧と検索結果ビューをパーシャル化-->
    <%= render "shared/group_index_form", groups: @groups %>
  </div>
</div>