<% content_for :title, "投稿一覧" %>
<!--ユーザー側と管理側の会員一覧ページをパーシャル化-->
<div class="sharedmargin">
  <div class="container-fluid shadow-lg p-3">
    <div class="col-sm-4 mx-auto text-center"><%= render "shared/flash_message" %></div>
    <h3 class="text-white font-italic text-center m-4">Post List</h3>
    <%= render "shared/post_index_form", posts: @posts %>
  </div>
</div>
``
