<div class="sharedmargin">
  <div class="container-md">
    <%= render "shared/flash_message" %>
  
    <div class='row mt-2'>
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto text-white topfont">
        <h2 class="mb-3 ml-sm-n2 text-center">New Group</h2>
        <!--グループ新規投稿とグループ編集コードをパーシャル化-->
        <%= render "user/shared/group_new_edit", group: @group%>

      </div>
    </div>
  </div>
</div>