<section class="hero">
  <div class="video-box overlay">
    <!--<video class="video" muted autoplay loop>-->
      <!--<source src="http://nowte.net/public/movie.mp4" type="video/mp4">-->
        <%= video_tag "/assets/videos/samplevideo.mp4", playsinline: true, controls: false, autoplay: true, loop: true, muted: true,  :poster => image_path("/assets/top_image.jpeg"), width: "100%", height: "100%",class: "video" %>
    <!--</video>-->
  </div>
  <div class="text-box">
    <h1>Hero Movie<br>Overlay Text</h1>
  </div>
</section>




<!--<div class="container">-->
<!--  <div class="rouw">-->
  
<!--      <h1 class="my-3">カルーセル</h1>-->
<!--      <div class="carousel slide" id="sample" data-ride="carousel">-->
<!--        <ol class="carousel-indicators">-->
<!--          <li data-target="#sample" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#sample" data-slide-to="1"></li>-->
<!--          <li data-target="#sample" data-slide-to="2"></li>-->
<!--          <li data-target="#sample" data-slide-to="3"></li>-->
<!--        </ol>-->
<!--        <div class="carousel-inner">-->
<!--          <div class="carousel-item active"><img style="width: 100%;" src="/assets/top_image2.jpeg" alt="" /></div>-->
<!--          <div class="carousel-item"><%#= image_tag '/assets/top_image2.jpeg', :alt => '背景画像', class: "d-block w-100"%></div>-->
<!--          <div class="carousel-item"><%#= image_tag '/assets/top_image2.jpeg', :alt => '背景画像', class: "d-block w-100"%></div>-->
<!--          <div class="carousel-item"><%#= image_tag '/assets/top_image2.jpeg', :alt => '背景画像', class: "d-block w-100"%></div>-->
<!--        </div>-->
<!--        <a href="#sample" class="carousel-control-prev" data-slide="prev">-->
<!--          <span class="carousel-control-prev-icon"></span>-->
<!--          <span class="sr-only">前の画像へ</span>-->
<!--        </a>-->
<!--        <a href="#sample" class="carousel-control-next" data-slide="next">-->
<!--          <span class="carousel-control-next-icon"></span>-->
<!--          <span class="sr-only">次の画像へ</span>-->
<!--        </a>-->
<!--      </div>-->
      
<!--    </div>-->
<!--  </div>-->
  
    




  <div class="jumbotron col-12 mt-3 text-white bg-transparent text-center"> <!--bg-transparent -->
    <div class="container">
      <%= render "shared/flash_message" %>
      <h1 class="display-4 topfont">Shuffle</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
     <div>
      <%#= video_tag "/assets/videos/samplevideo.mp4", playsinline: true, controls: false, autoplay: true, loop: true, muted: true,  :poster => image_path("/assets/top_image.jpeg"), width: "100%", height: "100%" %>
    </div>
  </div>
  
