 <% unless admin_signed_in? %>
  <%# adminサインイン前は会員側のヘッダーを表示 %>
  <%= render "user/shared/header" %>
<% else %>
 
 <!-- ナビゲーションバー -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
    <!-- タイトル -->
    <%= link_to "Shuffle", root_path, class: "navbar-brand" %>
    <!-- ハンバーガーメニュー -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <%# userサインイン済 %>
          <span class="navbar-text">
          </span>
          <li class="nav-item">
            <%= link_to "Users", admin_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "LogOut", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>        
        <% end %>
      </ul>
    </div>
  </div>
 </nav>