// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Roboto', sans-serif;
// background-color: #000000;
// }

/* video */
.video-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  // background-image: image-url('top_image.jpg');
  background-size: cover;
  background-position: center;
}

/* overlay */
.overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

/* text */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 50px;
  text-align: center;
  color: #fff;
}

.story-card-border {
  border-bottom: 8px solid #222;
}

.imagefont {
  text-transform: uppercase;
}

.video-box2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

/*========= スクロールをすると下のエリアが上にかぶさるCSS ===============*/


/*下の被さるエリアの指定*/
.con{
  position: relative;
  z-index:1;
    /*以下はレイアウトのための記述*/
  background:#fff;
  padding:600px 0;
  text-align: center;
}